<div class="px-4 py-16 ">
  {{!-- Header Title --}}
  <section class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-slate-100 sm:text-4xl md:mx-auto">
      <span class="relative inline-block">
        <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
          <defs>
            <pattern id="1d4040f3-9f3e-4ac7-b117-7d4009658ced" x="0" y="0" width=".135" height=".30">
              <circle cx="1" cy="1" r=".7"></circle>
            </pattern>
          </defs>
          <rect fill="url(#1d4040f3-9f3e-4ac7-b117-7d4009658ced)" width="52" height="24"></rect>
        </svg>
        <span class="relative">Welcome</span>
      </span>
      Our Sh#tty Devs
    </h2>
    <p class="text-base text-slate-100 md:text-lg">
      The masterminds behind the fortune 500 company known as Gyst.
    </p>
  </section>
  {{!-- Team Cards --}}
  <section class="flex flex-col gap-3 items-center justify-center lg:flex-row text-slate-100">
    {{!-- Mike Card --}}
    <div class="bg-mint-700 rounded-3xl border-mint-900 border-8 border-solid px-12 py-28 flex justify-center items-center transition duration-200 ease-linear hover:scale-105 hover:border-mint-100">
        <div class="flex flex-col justify-center items-center gap-10">
          <div class="flex flex-col gap-6">
            {{!-- name and pfp --}}
            <div class="flex gap-6 items-center">
              <img src="https://avatars.githubusercontent.com/u/110638329?v=4" alt="mike p. github profile picture" class="w-20 h-20 rounded-full transition duration-500 ease-out hover:rotate-180">
              <h1 class="text-4xl font-semibold transition duration-200 ease-linear hover:text-mint-100">Mike P.</h1>
            </div>
            <p class="transition duration-200 ease-linear hover:text-mint-100">Role</p>
            <p class="text-gray-400 italic w-64 h-full transition duration-200 ease-linear hover:text-gray-200 text-center">quote</p>
          </div>
          <a href="https://github.com/mploythai/cpsc349-proj2" target="_blank" class="w-64 inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-mint-900 transition duration-200 rounded shadow-md bg-mint-100 hover:bg-mint-50 hover:scale-105">
            <button>GitHub Repo</button>
          </a>
        </div>
    </div>
    {{!-- Alan Card --}}
    <div class="bg-mint-700 rounded-3xl border-mint-900 border-8 border-solid px-12 py-28 flex justify-center items-center transition duration-200 ease-linear hover:scale-105 hover:border-mint-100">
        <div class="flex flex-col justify-center items-center gap-10">
          <div class="flex flex-col gap-6">
            {{!-- name and pfp --}}
            <div class="flex gap-6 items-center">
              <img src="https://avatars.githubusercontent.com/u/78040578?v=4" alt="alan c. github profile picture" class="w-20 h-20 rounded-full transition duration-500 ease-out hover:rotate-180">
              <h1 class="text-4xl font-semibold transition duration-200 ease-linear hover:text-mint-100">Alan C.</h1>
            </div>
            <p class="transition duration-200 ease-linear hover:text-mint-100">Role</p>
            <p class="text-gray-400 italic w-64 h-full transition duration-200 ease-linear hover:text-gray-200 text-center">tailwind really tested my patience</p>
          </div>
          <a href="https://github.com/AlanCortez1337/cpsc349-proj2" target="_blank" class="w-64 inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-mint-900 transition duration-200 rounded shadow-md bg-mint-100 hover:bg-mint-50 hover:scale-105">
            <button>GitHub Repo</button>
          </a>
        </div>
    </div>
    {{!-- Michael Card --}}
    <div class="bg-mint-700 rounded-3xl border-mint-900 border-8 border-solid px-12 py-28 flex justify-center items-center transition duration-200 ease-linear hover:scale-105 hover:border-mint-100">
        <div class="flex flex-col justify-center items-center gap-10">
          <div class="flex flex-col gap-6">
            {{!-- name and pfp --}}
            <div class="flex gap-6 items-center">
              <img src="https://wjlta.files.wordpress.com/2012/07/blurred_face.jpg" alt="michael c. github profile picture" class="w-20 h-20 rounded-full transition duration-500 ease-out hover:rotate-180">
              <h1 class="text-4xl font-semibold transition duration-200 ease-linear hover:text-mint-100">Michael C.</h1>
            </div>
            <p class="transition duration-200 ease-linear hover:text-mint-100">Role</p>
            <p class="text-gray-400 italic w-64 h-full transition duration-200 ease-linear hover:text-gray-200 text-center">quote</p>
          </div>
          <a href="/" target="_blank" class="w-64 inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-mint-900 transition duration-200 rounded shadow-md bg-mint-100 hover:bg-mint-50 hover:scale-105">
            <button>GitHub Repo</button>
          </a>
        </div>
    </div>
    {{!-- Marl Card --}}
    <div class="bg-mint-700 rounded-3xl border-mint-900 border-8 border-solid px-12 py-28 flex justify-center items-center transition duration-200 ease-linear hover:scale-105 hover:border-mint-100">
        <div class="flex flex-col justify-center items-center gap-10">
          <div class="flex flex-col gap-6">
            {{!-- name and pfp --}}
            <div class="flex gap-6 items-center">
              <img src="https://wjlta.files.wordpress.com/2012/07/blurred_face.jpg" alt="marl r. github profile picture" class="w-20 h-20 rounded-full transition duration-500 ease-out hover:rotate-180">
              <h1 class="text-4xl font-semibold transition duration-200 ease-linear hover:text-mint-100">Marl R.</h1>
            </div>
            <p class="transition duration-200 ease-linear hover:text-mint-100">Role</p>
            <p class="text-gray-400 italic w-64 h-full transition duration-200 ease-linear hover:text-gray-200 text-center">quote</p>
          </div>
          <a href="/" target="_blank" class="w-64 inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-mint-900 transition duration-200 rounded shadow-md bg-mint-100 hover:bg-mint-50 hover:scale-105">
            <button>GitHub Repo</button>
          </a>
        </div>
    </div>
  </section>
      
</div>